<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yy.dream.core.db.mapper.GiftInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yy.dream.core.db.domain.GiftInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="gift_name" property="giftName" jdbcType="VARCHAR" />
    <result column="gift_price" property="giftPrice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, gift_name, gift_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gift_${tableSuffix}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gift_${tableSuffix}
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yy.dream.core.db.domain.GiftInfo" >
    insert into gift_${tableSuffix} (id, uid, gift_name, 
      gift_price)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{giftName,jdbcType=VARCHAR}, 
      #{giftPrice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yy.dream.core.db.domain.GiftInfo" >
    insert into gift_${tableSuffix}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="giftName != null" >
        gift_name,
      </if>
      <if test="giftPrice != null" >
        gift_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="giftName != null" >
        #{giftName,jdbcType=VARCHAR},
      </if>
      <if test="giftPrice != null" >
        #{giftPrice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yy.dream.core.db.domain.GiftInfo" >
    update gift_${tableSuffix}
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="giftName != null" >
        gift_name = #{giftName,jdbcType=VARCHAR},
      </if>
      <if test="giftPrice != null" >
        gift_price = #{giftPrice,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yy.dream.core.db.domain.GiftInfo" >
    update gift_${tableSuffix}
    set uid = #{uid,jdbcType=BIGINT},
      gift_name = #{giftName,jdbcType=VARCHAR},
      gift_price = #{giftPrice,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>